#Escludi file di configurazione con secrets
config.py
test.py
txt

# Escludi file Python compilati
__pycache__/
*.pyc
*.pyo

# Escludi ambienti virtuali
venv/
env/

# Escludi file di configurazione IDE
*.vscode/
.idea/
