# Flag di debug
DEBUG = False
DEBUG_VERBOSE = False

MINIMUM_DKP_POINTS_PER_ITEM = 100
MAX_REQUEST_ITEMS_NORMAL = 3
MAX_REQUEST_ITEMS_ARCHBOSS = 1

GUILD_ID = 00000
CHANNEL_ID = 0000 

ADMIN_ROLE_ID = 00000
MYDISCORDID = 0000

TOKEN = ""

nGrokURI = "https://46e9-148-113-42-214.ngrok-free.app/api"
