#Flag di debug
#DEBUG = False
DEBUG = True
DEBUG_VERBOSE = False

# DICORD IDS
MYDISCORDID = 0

ADMIN_ROLE_ID = 0
GUILD_ID = 0
CHANNEL_ID = 0 

# DKP SETTINGS
MINIMUM_DKP_POINTS_PER_ITEM = 400
MAX_REQUEST_ITEMS_NORMAL = 3
MAX_REQUEST_ITEMS_ARCHBOSS = 1

#DISCORD SETTINGS
DISCORD_INTERACTION_TIMEOUT = 60

EASTER_EGG = True